* {
    margin: 0;
    padding: 0;
    font-family: 'monospace';
}

h1 {
    text-align: center;
    color: navy;
    padding: 10px;

}

ul {
    list-style: none;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    gap: 2px;
}

li {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: lightseagreen;
}

li:nth-child(1){
    grid-column: 1 / -1;
}
li:nth-child(4){
    grid-row: 4;
    grid-column: 1/-1;
}